<header>
  <div class="overlay"></div>
  <div class="home-image">
  <%= image_tag("/images/home-background.png") %>
  </div>
  <div>
  <%= render '/layouts/navbar_login' %>
  <%= render '/sessions/login_card' %>


  </div>
</header>
<%= render '/layouts/footer' %>
  



