<%= render 'layouts/navbar_main' %>



<h1 class="text-white mx-auto mt-3 mb-5">All Movies</h1>
<div class="container-sm">
  <div class="row">
    <% @movies.each do |movie| %> 
      <% @parse = movie %>
     <div class="mx-3 my-3"> <%= render template: "layouts/movie_card" %> </div>
      <% end %>
  </div>
</div>
