<h1>How's it going, <%= @user.username %>?</h1> 
<br>

  <h2>Who's watching today?</h2>
  <br>
  <% @user.profiles.each do |profile| %> 
    <p><%= link_to profile.name %></p>
  <% end %>
  <br>
  <% if @user.profiles.length == 0 %>
    <p>Let's create a profile!</p><br>
    <p><%= button_to "Create Profile", new_profile_path, method: :get %></p>
  <% end %>

<%= button_to "Logout", logout_path %>

