<h1>Who's watching today?</h1>
  <br>
  <% @user.profiles.each do |profile| %> 
    <p><%= link_to profile.name, profile_path(profile) %></p>
  <% end %>
  <br>
    <p><%= button_to "Create Profile", new_profile_path, method: :get %>
    <%= button_to "Logout", logout_path, method: "delete" %>
    <%= button_to "Edit User", edit_user_path, method: "get" %>
    </p>

