<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fauxflix</title>
</head>
<body>
  <%= render 'layouts/welcome' %>
  <div id="page-content"> </div>
  <%= render 'layouts/footer' %>

</body>
</html>



