<%= render 'layouts/navbar_main' %>



<h1><%= @tag.name %></h1> 
<div class="container-fluid">
  <div class="row">
    <% @tag.movies.each do |movie| %>
        <% @parse = movie %>
        <div class="mx-3 my-3"> <%= render template: "layouts/movie_card" %> </div>

    <% end %>
    <br>
    <%= button_to "Back to Genres", "/tags", method: "get" %>
    <div/>
<div/>