
<h1><%= @tag.name %></h1> 

<% @tag.movies.each do |movie| %>
    <% @parse = movie %>
    <%= render template: "layouts/movie_card" %>

<% end %>
<br>
<%= button_to "Back to Genres", "/tags", method: "get" %>