@import 'bootstrap/dist/css/bootstrap';
@font-face { font-family: "Netflix Sans"; src: url(/assets/NetflixSans-Light.otf) format("truetype");}
@font-face { font-family: "Netflix Sans"; src: url(/assets/NetflixSans-Medium.otf) format("truetype");}
@font-face { font-family: "Netflix Sans"; src: url(/assets/NetflixSans-Bold.otf) format("truetype");}


#page-content {
  flex: 1 0 auto;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
  background: #000000;
  background: linear-gradient(#000000fa, #141414, #000000fa);
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: black;
  z-index: 2;
}

/* Welcome View Overlay */

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header .home-image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .navbar {
  z-index: 2;
}

header .container {
  position: relative;
  z-index: 2;
}


header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

/* Welcome View overlay text */

.display-3 {
  font-family: "Netflix Sans"; 
  padding-left: 15%;
  padding-right: 15%;
}

.byline {font-family: "Netflix Sans"}
.btn-danger {background-color: rgb(230, 0, 0)}
.hero-card {padding-bottom: 5%}


/* Login Card */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
.login-card{
  padding-top: 5%;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.60);
}


.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Netflix Sans";
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
  opacity: 1;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  height: auto;
}

.form-field-1 {
  border-radius: 5rem;
}

.hidden {
  display: none;
}

/* New Account Signup Card */

.card-signup {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.60);
}

.card-signup .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Netflix Sans";
}

.form-signup {
  width: 100%;
  opacity: 1;
}

.form-signup .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

/* new profile page */


.card-profile-new {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.card-profile-new .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-profile-new .card-body {
  padding: 2rem;
}

.form-profile-new {
  width: 100%;
}

.form-profile-new .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}


.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
}
