<nav class="navbar navbar-light">
<%= link_to image_tag("/images/notflix.png"), root_path, class: "navbar-brand ml-3 mt-2"%> </p>
  <form class="form-inline">
  <%= link_to "Sign In", login_path, class:"text-white btn btn-danger mr-5 mt-1" %>
  </form>
</nav>