
<header>
<div class="overlay"></div>

<div class="home-image">
<%= image_tag("/images/home-background.png") %>
</div>

<div>
  <%= render '/layouts/navbar_welcome' %>
</div>


<div class=" hero-card container h-100 ">
  <div class="d-flex h-100 text-center align-items-center ">
    <div class="w-100 text-white">
      <h1 class="display-3 col-12">Unlimited movies, TV shows, and more.</h1>
      <p class="byline lead mb-0">Watch anywhere. Cancel anytime.</p><br>
      <p><%= link_to "GET STARTED", signup_path, class: "sign-up btn btn-danger" %> </p>  <br>
    </div>
  </div>

</div>

</header>