
<header>
<div class="overlay"></div>

<div class="home-image">
  <%= image_tag("/images/home-background.png") %>
</div>

<div>
<nav class="navbar navbar-light">
<%= link_to image_tag("/images/fauxflix.png"), root_path, class: "navbar-brand ml-3 mt-2"%> </p>
  <form class="form-inline">
  <%= link_to "Sign In", login_path, class:"text-white btn btn-danger mr-5 mt-1" %>
  </form>
</nav>
</div>

<div class=" hero-card container h-100 ">
  <div class="d-flex h-100 text-center align-items-center ">
    <div class="w-100 text-white">
      <h1 class="display-3 col-12">Unlimited movies, TV shows, and more.</h1>
      <p class="byline lead mb-0">Watch anywhere. Cancel anytime.</p><br>
      <p><%= link_to "GET STARTED", signup_path, class: "sign-up btn btn-danger" %> </p>  <br>
    </div>
  </div>
</div>

</header>