<p>"<%= link_to @parse.title, movie_path(@parse) %>" Genre: <%= link_to @parse.tag.name, tag_path(@parse.tag) %></p>
    <% if !@parse.list_movies.find_by("list_id = ?",@current_profile.list.id) %>
    <%= button_to "Add to your list", "/addtolist/#{@parse.id}" %>
    <% else %>
    <%= button_to "Remove From Your List", "/removefromlist/#{@parse.id}" %>  
    <% end %></p>